@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;

  background-image: 
        url('/background-pattern.svg'),
        linear-gradient(to bottom, #134e4a, #115e59); /* от teal-900 до teal-800 */

  background-repeat: repeat, no-repeat;

  background-size: 150px, auto;

  background-attachment: fixed;
}
