@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d2d2b;

  background-image: url("/background-pattern.svg"),
    linear-gradient(to bottom, #134e4a, #115e59);

  background-repeat: repeat, no-repeat;

  background-size: 150px, auto;

  background-attachment: fixed;
}
